--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.5.0+cpu
torchvision==0.20.0+cpu

fastapi==0.115.0
uvicorn[standard]==0.30.3
python-multipart==0.0.9
pillow==10.3.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
tqdm==4.66.4
pydicom==2.4.4
matplotlib==3.9.0
